* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(11, 136, 181);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-left: 25px;
    padding-top: 20px;
}

.sidebar-element {
    display: flex;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-content {
    height: 100vh;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px 15px 35px;
}

input {
    background-color: #D3D3D3;
    border-radius: 20px;
    border: 1px solid #D3D3D3;
    height: 30px;
    width: 40vw;
}

.greeting-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px 15px 35px;
}

.greeting-text p {
    font-weight: bold;
    font-size: 15px;
}

.greeting-text h2 {
    font-size: 27px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    background-color: rgb(11, 136, 181);
    color: white;
    border-radius: 20px;
    width: 85px;
    height: 35px;
    border: 1px solid rgb(11, 136, 181);;
    font-size: 15px;
    font-weight: 500;
}

.information {
    background-color: #D3D3D3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.project-container {
    padding: 15px;

}

.your-projects {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.project-outer {
    background-color: goldenrod;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    height: 20vh;
}

.announcements h3 {
    padding-left: 15px;
}

.announcement-container {
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.announcement p {
    padding-bottom: 10px;
    color: grey;
}

h4 {
    margin-bottom: 15px;
    padding-top: 10px;
}

hr {
    background-color: #D3D3D3;
    height: 1%;
    border: 1px solid #D3D3D3;
    border-radius: 5px;

}

.information-right {
    padding-right: 15px;
    padding-top: 15px;
    font-weight: 500;
}

.trending h3 {
    margin-left: 15px;
}

.user-container {
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.users {
    margin-bottom: 15px;
}